# Competi 4
### En este cuaderno vamos a practicar la técnica de embedding sobre una columna de un dataset para predecir la esperanza de vida

### Imports necesarios

In [58]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

## 1. Importamos los datos desde Kaggle

In [59]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

#!pip install kagglehub[pandas-datasets]
# Set the path to the file you'd like to load
file_path = "Life Expectancy Data.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "kumarajarshi/life-expectancy-who",
  file_path,
)

display("Primeros 5 registros:", df.head())

C:\Users\domid\AppData\Local\Temp\ipykernel_4200\2355080188.py:9: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(

'Primeros 5 registros:'

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

## 2. Análisis de la calidad de los datos

#### Vamos a usar esta función para ver la información de cada columna

In [61]:
# En primer lugar vamos definir una función que nos ayudará a analizar las columnas de un dataframe
def describe_columna(df, col):
    print(f'Columna: {col}  -  Tipo de datos: {df[col].dtype}')
    print(f'Número de valores nulos: {df[col].isnull().sum()}  -  Número de valores distintos: {df[col].nunique()}')
    print('Valores más frecuentes:')
    for i, v in df[col].value_counts().iloc[:10].items() :
        print(i, ':',v, "veces")

### 2.1 Columna Country

In [62]:
describe_columna(df, "Country")

Columna: Country  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 193
Valores más frecuentes:
Afghanistan : 16 veces
Albania : 16 veces
Algeria : 16 veces
Angola : 16 veces
Antigua and Barbuda : 16 veces
Argentina : 16 veces
Armenia : 16 veces
Australia : 16 veces
Austria : 16 veces
Azerbaijan : 16 veces

#### Vemos que hay 193 paises distintos y que generalmente vamos a tener de estos paises 16 registros para cada uno, por año

### 2.2 Columna Life expectancy (borrar esos 10 registros)

In [63]:
describe_columna(df, "Life expectancy ")

Columna: Life expectancy   -  Tipo de datos: float64
Número de valores nulos: 10  -  Número de valores distintos: 362
Valores más frecuentes:
73.0 : 45 veces
75.0 : 33 veces
78.0 : 31 veces
73.6 : 28 veces
73.9 : 25 veces
81.0 : 25 veces
76.0 : 25 veces
74.7 : 24 veces
74.5 : 24 veces
73.2 : 23 veces

#### Vamos a borrar los 10 valores nulos porque es nuestra variable objetiva

### 2.3 Columna Year

In [93]:
describe_columna(df, "Year")

Columna: Year  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 16
Valores más frecuentes:
2013 : 193 veces
2015 : 183 veces
2014 : 183 veces
2012 : 183 veces
2011 : 183 veces
2010 : 183 veces
2009 : 183 veces
2008 : 183 veces
2007 : 183 veces
2006 : 183 veces

#### Están todos los datos, no haremos nada

### 2.4 Columna Adult Mortality (media de esos paises 2 años antes y después para rellenar 2013)

In [65]:
describe_columna(df, "Adult Mortality")

Columna: Adult Mortality  -  Tipo de datos: float64
Número de valores nulos: 10  -  Número de valores distintos: 425
Valores más frecuentes:
12.0 : 34 veces
14.0 : 30 veces
16.0 : 29 veces
138.0 : 25 veces
11.0 : 25 veces
19.0 : 23 veces
144.0 : 22 veces
17.0 : 21 veces
13.0 : 21 veces
15.0 : 21 veces

#### Vamos a ver los casos de esos 10 valores nulos por si podriamos hacer algo con ellos

In [66]:
df[df['Adult Mortality'].isnull()].head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,82.8,0,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,58.4,0,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1650,Marshall Islands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,81.6,0,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,NaN,0,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,87.3,0,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,77.3,0,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,83.3,0,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2167,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,5.2,0,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2216,San Marino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,NaN,0,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,79.3,0,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

#### Parece que es en el año 2013, como los años están entre 2000 y 2015, aplicaremos la media por pais en esos casos fijándonos solo en dos años atras (2011 y 2012) y dos años adelante (2014 y 2015)

### 2.5 Columna infant deaths

In [67]:
describe_columna(df, "infant deaths")

Columna: infant deaths  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 209
Valores más frecuentes:
0 : 848 veces
1 : 342 veces
2 : 203 veces
3 : 175 veces
4 : 96 veces
8 : 57 veces
7 : 53 veces
10 : 48 veces
9 : 48 veces
6 : 46 veces

#### No hay nulos, no haremos nada con esta columna

### 2.6 Columna Alcohol (PROGRESION PARA 2015 con los 15 años anteriores) (QUE HACER CON SOUTH SUDAN)

In [68]:
describe_columna(df, "Alcohol")

Columna: Alcohol  -  Tipo de datos: float64
Número de valores nulos: 194  -  Número de valores distintos: 1076
Valores más frecuentes:
0.01 : 288 veces
0.03 : 15 veces
0.04 : 13 veces
0.09 : 12 veces
0.02 : 12 veces
0.06 : 10 veces
0.21 : 10 veces
1.18 : 10 veces
0.05 : 9 veces
0.54 : 9 veces

In [69]:
# Filtrar filas con valores nulos en Alcohol
nulos = df[df["Alcohol"].isnull()]

# Agrupar por país y contar los nulos, asegurando el orden de las columnas
nulos_por_pais = nulos.groupby("Country").agg(
    Años=("Year", lambda x: ", ".join(map(str, sorted(x.unique())))),  # Lista de años únicos ordenados
    Nulos=("Year", "count")  # Contar los nulos
).reset_index()

# Mostrar la lista completa sin cortes
pd.set_option("display.max_rows", None)  # Evita que la tabla se corte
display(nulos_por_pais)

,Country,Años,Nulos
0,Algeria,2015,1
1,Angola,2015,1
2,Antigua and Barbuda,2015,1
3,Argentina,2015,1
4,Armenia,2015,1
5,Australia,2015,1
6,Austria,2015,1
7,Azerbaijan,2015,1
8,Bahamas,2015,1
9,Bahrain,2015,1
10,Bangladesh,2015,1
11,Barbados,2015,1
12,Belarus,2015,1
13,Belgium,2015,1
14,Belize,2015,1
15,Benin,2015,1
16,Bhutan,2015,1
17,Bolivia (Plurinational State of),2015,1
18,Bosnia and Herzegovina,2015,1
19,Botswana,2015,1
20,Brazil,2015,1
21,Brunei Darussalam,2015,1
22,Bulgaria,2015,1
23,Burkina Faso,2015,1
24,Burundi,2015,1
25,Cabo Verde,2015,1
26,Cambodia,2015,1
27,Cameroon,2015,1
28,Canada,2015,1
29,Central African Republic,2015,1
30,Chad,2015,1
31,Chile,2015,1
32,China,2015,1
33,Colombia,2015,1
34,Comoros,2015,1
35,Congo,2015,1
36,Costa Rica,2015,1
37,Croatia,2015,1
38,Cuba,2015,1
39,Cyprus,2015,1
40,Czechia,2015,1
41,Côte d'Ivoire,2015,1
42,Democratic People's Republic of Korea,2015,1
43,Democratic Republic of the Congo,2015,1
44,Denmark,2015,1
45,Djibouti,2015,1
46,Dominican Republic,2015,1
47,Ecuador,2015,1
48,Egypt,2015,1
49,El Salvador,2015,1
50,Equatorial Guinea,2015,1
51,Eritrea,2015,1
52,Estonia,2015,1
53,Ethiopia,2015,1
54,Fiji,2015,1
55,Finland,2015,1
56,France,2015,1
57,Gabon,2015,1
58,Gambia,2015,1
59,Georgia,2015,1
60,Germany,2015,1
61,Ghana,2015,1
62,Greece,2015,1
63,Grenada,2015,1
64,Guatemala,2015,1
65,Guinea,2015,1
66,Guinea-Bissau,2015,1
67,Guyana,2015,1
68,Haiti,2015,1
69,Honduras,2015,1
70,Hungary,2015,1
71,Iceland,2015,1
72,India,2015,1
73,Indonesia,2015,1
74,Iran (Islamic Republic of),2015,1
75,Iraq,2015,1
76,Ireland,2015,1
77,Israel,2015,1
78,Italy,2015,1
79,Jamaica,2015,1
80,Japan,2015,1
81,Jordan,2015,1
82,Kazakhstan,2015,1
83,Kenya,2015,1
84,Kiribati,2015,1
85,Kuwait,2015,1
86,Kyrgyzstan,2015,1
87,Lao People's Democratic Republic,2015,1
88,Latvia,2015,1
89,Lebanon,2015,1
90,Lesotho,2015,1
91,Liberia,2015,1
92,Libya,2015,1
93,Lithuania,2015,1
94,Luxembourg,2015,1
95,Madagascar,2015,1
96,Malawi,2015,1
97,Malaysia,2015,1
98,Maldives,2015,1
99,Mali,2015,1
100,Malta,2015,1
101,Mauritania,2015,1
102,Mauritius,2015,1
103,Mexico,2015,1
104,Micronesia (Federated States of),2015,1
105,Mongolia,2015,1
106,Montenegro,"2005, 2015",2
107,Morocco,2015,1
108,Mozambique,2015,1
109,Myanmar,2015,1
110,Namibia,2015,1
111,Nepal,2015,1
112,Netherlands,2015,1
113,Nicaragua,2015,1
114,Niger,2015,1
115,Nigeria,2015,1
116,Oman,2015,1
117,Pakistan,2015,1
118,Palau,2013,1
119,Panama,2015,1
120,Papua New Guinea,2015,1
121,Paraguay,2015,1
122,Peru,2015,1
123,Philippines,2015,1
124,Poland,2015,1
125,Portugal,2015,1
126,Qatar,2015,1
127,Republic of Korea,2015,1
128,Republic of Moldova,2015,1
129,Romania,2015,1
130,Russian Federation,2015,1
131,Rwanda,2015,1
132,Saint Lucia,2015,1
133,Saint Vincent and the Grenadines,2015,1
134,Samoa,2015,1
135,Sao Tome and Principe,2015,1
136,Saudi Arabia,2015,1
137,Senegal,2015,1
138,Serbia,2015,1
139,Seychelles,2015,1
140,Sierra Leone,2015,1
141,Slovakia,2015,1
142,Slovenia,2015,1
143,Solomon Islands,2015,1
144,Somalia,2015,1
145,South Africa,2015,1
146,South Sudan,"2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007...",16
147,Spain,2015,1
148,Sri Lanka,2015,1
149,Sudan,2015,1
150,Suriname,2015,1
151,Swaziland,2015,1
152,Sweden,2015,1
153,Switzerland,2015,1
154,Syrian Arab Republic,2015,1
155,Tajikistan,2015,1
156,Thailand,2015,1
157,The former Yugoslav republic of Macedonia,2015,1
158,Timor-Leste,2015,1
159,Togo,2015,1
160,Tonga,2015,1
161,Trinidad and Tobago,2015,1
162,Tunisia,2015,1
163,Turkey,2015,1
164,Turkmenistan,2015,1
165,Uganda,2015,1
166,Ukraine,2015,1
167,United Arab Emirates,2015,1
168,United Republic of Tanzania,2015,1
169,United States of America,2015,1
170,Uruguay,2015,1
171,Uzbekistan,2015,1
172,Vanuatu,2015,1
173,Venezuela (Bolivarian Republic of),2015,1
174,Viet Nam,2015,1
175,Yemen,2015,1
176,Zambia,2015,1
177,Zimbabwe,2015,1

####  Aqui, para los paises con Alcohol nulos en 2015, por cada pais de esa lista, como tenemos registros desde los años 2000 hasta 2015 podriamos estudiar la progresión y estimar un numero para cada pais, menos para Montenegro que tiene nulo en 2005 y tampoco aplicarlo para South Sudan que le faltan los 16 años de la columna Alcohol

### 2.7 Columna percentage expenditure

In [70]:
describe_columna(df, "percentage expenditure")

Columna: percentage expenditure  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 2328
Valores más frecuentes:
0.0 : 611 veces
56.76221682 : 1 veces
25.87392536 : 1 veces
43.19780767 : 1 veces
36.62206845 : 1 veces
121.879331 : 1 veces
1.860003739 : 1 veces
10.91015598 : 1 veces
8.7174087 : 1 veces
7.097108703 : 1 veces

### 2.8 Columna Hepatitis B (553 NULOS)

In [71]:
describe_columna(df, "Hepatitis B")

Columna: Hepatitis B  -  Tipo de datos: float64
Número de valores nulos: 553  -  Número de valores distintos: 87
Valores más frecuentes:
99.0 : 240 veces
98.0 : 210 veces
96.0 : 167 veces
97.0 : 155 veces
95.0 : 149 veces
94.0 : 127 veces
93.0 : 101 veces
92.0 : 92 veces
91.0 : 75 veces
89.0 : 71 veces

### 2.9 Columna Measles

In [72]:
describe_columna(df, "Measles ")

Columna: Measles   -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 958
Valores más frecuentes:
0 : 983 veces
1 : 104 veces
2 : 68 veces
3 : 44 veces
4 : 33 veces
6 : 29 veces
7 : 28 veces
5 : 25 veces
8 : 24 veces
9 : 22 veces

### 2.10 Columna under-five deaths

In [73]:
describe_columna(df, "under-five deaths ")

Columna: under-five deaths   -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 252
Valores más frecuentes:
0 : 785 veces
1 : 361 veces
2 : 163 veces
4 : 161 veces
3 : 129 veces
12 : 53 veces
8 : 49 veces
6 : 48 veces
10 : 47 veces
5 : 44 veces

### 2.11 Columna Polio (19 NULOS)

In [74]:
describe_columna(df, "Polio")

Columna: Polio  -  Tipo de datos: float64
Número de valores nulos: 19  -  Número de valores distintos: 73
Valores más frecuentes:
99.0 : 376 veces
98.0 : 255 veces
96.0 : 207 veces
97.0 : 205 veces
95.0 : 180 veces
94.0 : 159 veces
93.0 : 120 veces
92.0 : 96 veces
91.0 : 88 veces
9.0 : 71 veces

### 2.12 Columna Total expenditure (226 NULOS)

In [75]:
describe_columna(df, "Total expenditure")

Columna: Total expenditure  -  Tipo de datos: float64
Número de valores nulos: 226  -  Número de valores distintos: 818
Valores más frecuentes:
4.6 : 15 veces
6.7 : 12 veces
5.6 : 11 veces
9.1 : 10 veces
5.64 : 10 veces
5.3 : 10 veces
5.9 : 10 veces
3.4 : 10 veces
5.25 : 10 veces
5.82 : 9 veces

### 2.13 Columna Diphtheria (19 NULOS)

In [76]:
describe_columna(df, "Diphtheria ")

Columna: Diphtheria   -  Tipo de datos: float64
Número de valores nulos: 19  -  Número de valores distintos: 81
Valores más frecuentes:
99.0 : 350 veces
98.0 : 254 veces
97.0 : 205 veces
96.0 : 201 veces
95.0 : 200 veces
94.0 : 149 veces
93.0 : 120 veces
92.0 : 100 veces
91.0 : 91 veces
89.0 : 76 veces

### 2.14 Columna  HIV/AIDS

In [77]:
describe_columna(df, " HIV/AIDS")

Columna:  HIV/AIDS  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 200
Valores más frecuentes:
0.1 : 1781 veces
0.2 : 124 veces
0.3 : 115 veces
0.4 : 69 veces
0.5 : 42 veces
0.6 : 35 veces
0.8 : 32 veces
0.9 : 32 veces
0.7 : 29 veces
1.5 : 21 veces

### 2.15 Columna GDP

In [78]:
describe_columna(df, "GDP")

Columna: GDP  -  Tipo de datos: float64
Número de valores nulos: 448  -  Número de valores distintos: 2490
Valores más frecuentes:
547.3588785 : 1 veces
584.25921 : 1 veces
612.696514 : 1 veces
631.744976 : 1 veces
669.959 : 1 veces
63.537231 : 1 veces
553.32894 : 1 veces
445.8932979 : 1 veces
373.3611163 : 1 veces
369.835796 : 1 veces

### 2.16 Columna Population (652 NULOS)

In [79]:
describe_columna(df, "Population")

Columna: Population  -  Tipo de datos: float64
Número de valores nulos: 652  -  Número de valores distintos: 2278
Valores más frecuentes:
444.0 : 4 veces
1141.0 : 2 veces
127445.0 : 2 veces
718239.0 : 2 veces
292.0 : 2 veces
26868.0 : 2 veces
2978599.0 : 1 veces
2883167.0 : 1 veces
161587.0 : 1 veces
291321.0 : 1 veces

### 2.17 Columna  thinness  1-19 years (34 NULOS)

In [80]:
describe_columna(df, " thinness  1-19 years")

Columna:  thinness  1-19 years  -  Tipo de datos: float64
Número de valores nulos: 34  -  Número de valores distintos: 200
Valores más frecuentes:
1.0 : 74 veces
1.9 : 65 veces
0.8 : 64 veces
0.7 : 63 veces
1.2 : 62 veces
2.1 : 61 veces
1.5 : 60 veces
2.2 : 58 veces
0.9 : 57 veces
2.0 : 57 veces

### 2.18 Columna  thinness 5-9 years (34 NULOS)

In [81]:
describe_columna(df, " thinness 5-9 years")

Columna:  thinness 5-9 years  -  Tipo de datos: float64
Número de valores nulos: 34  -  Número de valores distintos: 207
Valores más frecuentes:
0.9 : 69 veces
1.1 : 67 veces
1.9 : 63 veces
0.5 : 63 veces
1.0 : 62 veces
2.1 : 61 veces
1.3 : 59 veces
1.5 : 57 veces
1.7 : 55 veces
0.6 : 54 veces

### 2.19 Columna Income composition of resources (167 NULOS)

In [82]:
describe_columna(df, "Income composition of resources")

Columna: Income composition of resources  -  Tipo de datos: float64
Número de valores nulos: 167  -  Número de valores distintos: 625
Valores más frecuentes:
0.0 : 130 veces
0.7 : 17 veces
0.739 : 13 veces
0.714 : 12 veces
0.636 : 12 veces
0.877 : 11 veces
0.737 : 11 veces
0.797 : 11 veces
0.703 : 11 veces
0.735 : 11 veces

### 2.20 Columna Schooling (163 NULOS)

In [ ]:
describe_columna(df, "Schooling")

Columna: Schooling  -  Tipo de datos: float64
Número de valores nulos: 163  -  Número de valores distintos: 173
Valores más frecuentes:
12.9 : 58 veces
13.3 : 52 veces
12.5 : 49 veces
12.8 : 46 veces
12.3 : 44 veces
12.6 : 43 veces
12.4 : 42 veces
11.9 : 41 veces
10.7 : 41 veces
11.7 : 40 veces

### 2.21 Columna Status

In [94]:
describe_columna(df, "Status")

Columna: Status  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
Developing : 2426 veces
Developed : 512 veces

### 2.22 Columna BMI (34 NULOS)

In [97]:
describe_columna(df, " BMI ")

Columna:  BMI   -  Tipo de datos: float64
Número de valores nulos: 34  -  Número de valores distintos: 608
Valores más frecuentes:
58.5 : 18 veces
55.8 : 16 veces
57.0 : 16 veces
59.9 : 15 veces
54.2 : 15 veces
59.3 : 14 veces
52.8 : 13 veces
58.1 : 13 veces
59.4 : 13 veces
56.5 : 13 veces

## 3. Preprocesado de los datos

#### Copiamos el dataset para hacer cambios y no modificar el original

In [84]:
df_encoded = df.copy()

### 3.1 Columna Life expectancy (Borraremos los nulos)

In [85]:
df_encoded = df_encoded.dropna(subset=["Life expectancy "])
print("Nulos: ",df_encoded["Life expectancy "].isnull().sum())

Nulos:  0

### 3.2 Columna Adult Mortality (aplicaremos la media con dos años atras y adelante de 2013)

In [86]:
# Paso 1: Identificar los países con Adult Mortality nulo en 2013
paises_nulos_2013 = df_encoded[(df_encoded['Year'] == 2013) & (df_encoded['Adult Mortality'].isna())]['Country'].unique()

# Paso 2 y 3: Para cada país, calcular la media de los años 2011, 2012, 2014, 2015 y rellenar en 2013
for pais in paises_nulos_2013:
    # Filtrar los datos del país en los años 2011, 2012, 2014, 2015
    datos_pais = df_encoded[(df_encoded['Country'] == pais) & (df_encoded['Year'].isin([2011, 2012, 2014, 2015]))]
    
    # Calcular la media de Adult Mortality en esos años
    media_pais = datos_pais['Adult Mortality'].mean()
    
    # Rellenar los valores nulos en 2013 con la media calculada
    df_encoded.loc[(df_encoded['Country'] == pais) & (df_encoded['Year'] == 2013) & (df_encoded['Adult Mortality'].isna()), 'Adult Mortality'] = media_pais

# Verificamos si aún quedan valores nulos en 2013
print("Nulos: ",df_encoded[(df_encoded['Year'] == 2013) & (df_encoded['Adult Mortality'].isna())])

Nulos:  Empty DataFrame
Columns: [Country, Year, Status, Life expectancy , Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles ,  BMI , under-five deaths , Polio, Total expenditure, Diphtheria ,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling]
Index: []

### 3.3 Columna Alcohol (progresión para rellenar el año 2015) (QUE HACER CON SOUTH SUDAN)

In [87]:
# Filtrar países con Alcohol nulo en 2015
paises_nulos_2015 = df_encoded[(df_encoded["Year"] == 2015) & (df_encoded["Alcohol"].isnull())]["Country"].unique()

 #print(paises_nulos_2015)  # países afectados

In [88]:
from sklearn.linear_model import LinearRegression
import numpy as np

# Filtrar datos de países con nulos en 2015 (excluyendo South Sudan)
paises_a_estimar = [pais for pais in paises_nulos_2015 if pais not in ["South Sudan"]]

for pais in paises_a_estimar:
    # Filtrar datos del país entre 2000 y 2014 (años donde sí hay datos)
    datos_pais = df_encoded[(df_encoded["Country"] == pais) & 
                            (df_encoded["Year"] < 2015) & 
                            df_encoded["Alcohol"].notnull()]

    if len(datos_pais) >= 2:  # Necesitamos al menos 2 puntos para estimar la tendencia
        X = datos_pais["Year"].values.reshape(-1, 1)  # Años como variable independiente
        y = datos_pais["Alcohol"].values  # Consumo de alcohol como variable dependiente

        # Ajustar un modelo de regresión lineal
        modelo = LinearRegression()
        modelo.fit(X, y)

        # Predecir el valor de 2015
        valor_estimado = modelo.predict(np.array([[2015]]))[0]

        # Forzar un mínimo de 0.01 (si es negativo o muy bajo)
        valor_estimado = max(valor_estimado, 0.01)

        # Asignar el valor estimado en el DataFrame
        df_encoded.loc[(df_encoded["Country"] == pais) & (df_encoded["Year"] == 2015), "Alcohol"] = valor_estimado

In [89]:
# Verificar que se estimaron los valores
display(df_encoded[df_encoded["Year"] == 2015][["Country", "Alcohol"]])

                                                Country    Alcohol
0                                           Afghanistan   0.010000
16                                              Albania   4.600000
32                                              Algeria   0.480952
48                                               Angola   9.793238
64                                  Antigua and Barbuda   8.617333
80                                            Argentina   8.348095
96                                              Armenia   4.350381
112                                           Australia  10.275905
128                                             Austria  11.833714
144                                          Azerbaijan   1.434000
160                                             Bahamas   8.831905
176                                             Bahrain   1.640381
192                                          Bangladesh   0.010000
208                                            Barbados   9.066095
224                                             Belarus  16.091619
240                                             Belgium  10.846095
256                                              Belize   7.348095
272                                               Benin   0.365714
288                                              Bhutan   0.058667
304                    Bolivia (Plurinational State of)   4.337714
320                              Bosnia and Herzegovina   4.741333
336                                            Botswana   1.793429
352                                              Brazil   7.475905
368                                   Brunei Darussalam   0.378952
384                                            Bulgaria  11.645333
400                                        Burkina Faso   3.513905
416                                             Burundi   0.472476
432                                       Côte d'Ivoire   2.162476
448                                          Cabo Verde   1.716571
464                                            Cambodia   0.853714
480                                            Cameroon   2.319905
496                                              Canada   8.476190
512                            Central African Republic   0.500762
528                                                Chad   0.492476
544                                               Chile   7.695429
560                                               China   6.313714
576                                            Colombia   4.369333
592                                             Comoros   0.062667
608                                               Congo   1.297619
625                                          Costa Rica   3.363524
641                                             Croatia  11.702000
657                                                Cuba   4.238952
673                                              Cyprus   7.839238
689                                             Czechia  12.548571
705               Democratic People's Republic of Korea   2.547714
721                    Democratic Republic of the Congo   0.529714
737                                             Denmark   9.362857
753                                            Djibouti   0.234286
770                                  Dominican Republic   5.836952
786                                             Ecuador   3.803048
802                                               Egypt   0.243810
818                                         El Salvador   2.344952
834                                   Equatorial Guinea   9.089429
850                                             Eritrea   0.189429
866                                             Estonia   6.022667
882                                            Ethiopia   1.331810
898                                                Fiji   0.329238
914                                             Finland   9.644667
930                                              France  10.817524
946                                               Gabon   6.439048
962                                              Gambia   1.249238
978                                             Georgia   8.432762
994                                             Germany  10.665810
1010                                              Ghana   0.519238
1026                                             Greece   8.170476
1042                                            Grenada   7.748476
1058                                          Guatemala   1.887810
1074                                             Guinea   0.068952
1090                                      Guinea-Bissau   1.074286
1106                                             Guyana   7.677143
1122                                              Haiti   4.248000
1138                                           Honduras   3.162857
1154                                            Hungary   7.762476
1170                                            Iceland   8.571429
1186                                              India   3.445143
1202                                          Indonesia   0.090667
1218                         Iran (Islamic Republic of)   0.021143
1234                                               Iraq   0.054667
1250                                            Ireland  10.531143
1266                                             Israel   2.676190
1282                                              Italy   6.637238
1298                                            Jamaica   3.648000
1314                                              Japan   5.116667
1330                                             Jordan   0.444762
1346                                         Kazakhstan   6.970476
1362                                              Kenya   1.421429
1378                                           Kiribati   0.172381
1394                                             Kuwait   0.025048
1410                                         Kyrgyzstan   0.816190
1426                   Lao People's Democratic Republic   2.025905
1442                                             Latvia   8.807429
1458                                            Lebanon   1.240762
1474                                            Lesotho   0.692381
1490                                            Liberia   0.869429
1506                                              Libya   0.010000
1522                                          Lithuania  15.365810
1538                                         Luxembourg  10.718571
1554                                         Madagascar   0.589143
1570                                             Malawi   0.358190
1586                                           Malaysia   0.497810
1602                                           Maldives   0.478476
1618                                               Mali   0.206857
1634                                              Malta   8.643714
1651                                         Mauritania   0.010000
1667                                          Mauritius   0.326952
1683                                             Mexico   5.406857
1699                   Micronesia (Federated States of)   1.696476
1716                                           Mongolia   1.305429
1732                                         Montenegro   4.133731
1748                                            Morocco   0.527810
1764                                         Mozambique   0.612857
1780                                            Myanmar   0.338762
1796                                            Namibia   2.716381
1813                                              Nepal   0.228857
1829                                        Netherlands   6.409524
1845                                        New Zealand   8.700000
1861                                          Nicaragua   3.514095
1877                                              Niger   0.050190
1893                                            Nigeria   6.194381
1910                                             Norway   5.970000
1926                                               Oman   0.508095
1942                                           Pakistan   0.038857
1959                                             Panama   7.269143
1975                                   Papua New Guinea   0.290952
1991                                           Paraguay   3.665333
2007                                               Peru   3.828667
2023                                        Philippines   4.675238
2039                                             Poland  11.956952
2055                                           Portugal  10.962476
2071                                              Qatar   1.345048
2087                                  Republic of Korea   6.407333
2103                                Republic of Moldova   9.739619
2119                                            Romania   7.118952
2135                                 Russian Federation  11.068000
2151                                             Rwanda   2.401429
2168                                        Saint Lucia  10.065048
2184                   Saint Vincent and the Grenadines   7.666857
2200                                              Samoa   0.736571
2217                              Sao Tome and Principe   1.282476
2233                                       Saudi Arabia   0.104952
2249                                            Senegal   0.267619
2265                                             Serbia  10.148095
2281                                         Seychelles   1.741905
2297                                       Sierra Leone   1.029238
2313                                          Singapore   1.790000
2329                                           Slovakia  10.217048
2345                                           Slovenia  10.329524
2361                                    Solomon Islands   0.381524
2377                                            Somalia   0.010000
2393                                       South Africa   7.654095
2409                                        South Sudan        NaN
2425                                              Spain   6.656000
2441                                          Sri Lanka   2.825429
2457                                              Sudan   0.660857
2473                                           Suriname   6.122857
2489                                          Swaziland   0.936476
2505                                             Sweden   7.503810
2521                                        Switzerland   9.488571
2537                               Syrian Arab Republic   0.043524
2553                                         Tajikistan   0.013238
2569                                           Thailand   6.370762
2585          The former Yugoslav republic of Macedonia   0.750381
2601                                        Timor-Leste   0.010000
2617                                               Togo   0.496476
2633                                              Tonga   0.286762
2649                                Trinidad and Tobago   7.277810
2665                                            Tunisia   1.368952
2681                                             Turkey   1.433333
2697                                       Turkmenistan   2.706381
2714                                             Uganda   2.653238
2730                                            Ukraine   9.850190
2746                               United Arab Emirates   1.826000
2762  United Kingdom of Great Britain and Northern I...  10.660000
2778                        United Republic of Tanzania   3.123238
2794                           United States of America   8.919905
2810                                            Uruguay   6.091524
2826                                         Uzbekistan   1.122667
2842                                            Vanuatu   0.204095
2858                 Venezuela (Bolivarian Republic of)   6.855714
2874                                           Viet Nam   4.641333
2890                                              Yemen   0.023619
2906                                             Zambia   1.727333
2922                                           Zimbabwe   6.778000

### 3.x  Columna Status (Aplicamos One-Hot Encoding)

In [90]:
# Crear el codificador
encoder = OneHotEncoder(drop='first', sparse_output=False)

# Aplicar One-Hot Encoding
encoded_array = encoder.fit_transform(df_encoded[['Status']])

# Convertir a DataFrame
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['Status']))

# Concatenar con el DataFrame original
df_encoded = pd.concat([df_encoded.drop(columns=['Status']), encoded_df], axis=1)

# Mostrar el resultado
df_encoded["Status_Developing"].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Status_Developing, dtype: float64

#### Vamos a crear solo 1 columna con el one-hot encoding, porque con solo 1 columna tendremos la informacion de Developed o Developing de cada registro

### 3.x Columna Country (Aplicamos Embeding)